.image-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.imgURL {
  width: 24%;
  height: auto;
  margin-top: 20px;
}

.rovernavlink {
  transition: all 0.5s ease-in-out;
}

.rovernavlink:hover {
  tranfrom: scale(1.1);
}

#aboutPerseverance {
  color: white;
  display: list-item;
  text-align: left;
}